
 body {
    font-size: 1.2vw;
    flex-wrap: wrap;
}
.main-container {
font-family: Arial, Helvetica, sans-serif;
font-size: smaller;
display:flex;
background-color: lightgray;
max-width: 2560px;
}

.big-container {
    width: 40.5%;
}


.menu {
    width: 10%;
    height: 45%;
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 15px;
    padding-left: 15px;
    background-color: white;  
 }
 ul {
  list-style: none;
  padding-left: 0px;
 }
.owner {
    width: 48.5%;
    height: 5%;
    border-radius: 5px;
    background-color: #143259;
    color: white;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    padding-left: 5px;
    padding-right: 5px; 
    margin-top: 5px;
}

.user {
    width: 67%;
    height: 5%;
    border-radius: 5px;
    background-color: #143259;
    color: white;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 2.5px;
    margin-bottom: 10px;
}   

.Monitor {
    width: 42%;
    height: 5%;
    border-radius: 5px;
    background-color: #143259;
    color: white;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 2.5px;
    margin-bottom: 5px;
}

.Computer {
    width: 55%;
    height: 5%;
    border-radius: 5px;
    background-color: #143259;
    color: white;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 2.5px;
    margin-bottom: 5px;
}

.Phone {
    width: 45%;
    height: 5%;
    border-radius: 5px;
    background-color: lightgray;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 2.5px;
    margin-bottom: 5px;
}
.Client {
    width: 72%;
    height: 5%;
    border-radius: 5px;
    background-color: lightgray;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 2.5px;
    margin-bottom: 5px;
}

.Laptop {
    width: 45%;
    height: 5%;
    border-radius: 5px;
    background-color: lightgray;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 2.5px;
    margin-bottom: 5px;
}

.search-form {
    width: 110%;
    margin-top: -50px;
}

form.search-form input {
   
     margin-left: 20px;
      margin-top: 20px;
      width: 85%;
      height: 30px;
}

form.search-form button {
 background-color: transparent;
 position: relative;
 left: -86.5%;
 border: none;
 color: gray;
 height: 30px;
}
  
.ow {
    font-size: 10px;
    margin-left: 15px;
    margin-top: 20px;
    display: inline-block;
    width: 70px;
    height: 20px;
    border-radius:  10px;
    background-color: red;
    color:whitesmoke;
    line-height: 20px;
    text-align: center;
}
 .us {
    font-size: 10px;
    margin-left: 15px;
    margin-top: 20px;
    display: inline-block;
    width: 90px;
    height: 20px;
    border-radius:  10px;
    background-color:rgb(6, 199, 6);
    color:whitesmoke;
    line-height: 20px;
    text-align: center;
 }

.d1 {
    padding-top: 20px;
    padding-left: 20px;
}

.sp1 {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ow1 {
    font-size: 10px;
    margin-left: 15px;
    margin-top: 20px;
    display: inline-block;
    width: 70px;
    height: 20px;
    border-radius:  10px;
    background-color: red;
    color:whitesmoke;
    line-height: 20px;
    text-align: center;
}

.card1 {
    background-color: white;
    margin-left: 20px;
    margin-top: 2%;
    height: 210px;
    border-radius: 10px;
    width: 95%;
    height: 42.5%;
}
.card2 {
    background-color: white;
    margin-left: 20px;
    margin-top: 20px;
    height: 210px;
    border-radius: 10px;
    width: 95%;
    height: 42.5%;
}

.card3 {
margin-top: 4.3%;
margin-left: 15px;
width: 39%;
height: 50%;
background-color: white;
border-radius: 10px;
padding-bottom: 8px;

}
.c1 {
    display: inline-block;
    font-size: smaller;
    color: gray;
    margin-left: 165%;
    margin-top: 5%;
    width: 35%;
}
.m-menu-link {
    display: none;
    color: black;
    font-size: 1.8rem;
}
.s1 {
    display: inline-block;
    color: gray;
    font-size: smaller;
    padding-top: 15px; 
    padding-left: 20px;
}
.s2 {
    display: inline-block;
     color: gray; 
     font-size: smaller; 
     padding-top: 15px; 
     padding-left: 40px;
}
.s3 {
    display: inline-block; 
    color: gray;
    font-size: smaller;
    padding-top: 15px; 
    padding-left: 75px;
}
.s4 {
    display: inline-block; 
    color: gray; 
    font-size: smaller; 
    padding-top: 15px; 
    padding-left: 40px;
}
.s5 {
    padding-left: 20px;
}
.s6 {
    padding-left: 50px;
}
.s7 {
    padding-left: 25px;
}
.s8 {
    padding-left: 35px;
}
.s9 {
    display: inline-block; 
    color: gray; 
    font-size: smaller; 
    padding-left: 20px; 
}
.s10{
    display: inline-block; 
    color: gray; 
    font-size: smaller; 
    padding-left: 155px;
}
.s11 {
    padding-left: 210px; color:rgb(67, 164, 255);
}
.horLine {
    margin-left: 20px;
     margin-top: 15px; 
     width: 90%;
}